@import url("../main/common.css");

nav{
   position: absolute;
   top: 0;
   display: flex;
   justify-content: space-between;
   width: 100%;
   z-index: 50;
   color: white;
   font-weight: 500;
   margin-top: 2em;
}
nav img{
   object-fit: cover;
   height: 1.5rem;
}
nav .menu{
   display: flex;
   gap: 1.5rem;
   font-weight: inherit;
}
nav .menu a{
   text-decoration: none;
   color: white;
   font-weight: inherit;
}
nav .menu a:hover{
   text-decoration: underline;
}