@import url("../common.css");

nav{
   position: absolute;
   top: 0;
   display: flex;
   justify-content: space-between;
   width: 100%;
}
nav img{
   object-fit: cover;
   height: 2rem;
}
nav .menu{
   display: flex;
   gap: 1rem;
}
nav .menu a{
   text-decoration: none;
}