#info1{
    width: 100%;
    display: flex;
    justify-content: center;
}

#info2{
    display: flex;
    background-color:#f6f6f6 ;
    justify-content: center;
}
#info3{
    display: flex;
    width: 100%;
    justify-content: center;
}

h2{
    font-size: 48px;
    font-weight: 900;
    
}

p{
    font-size: 16px;
    line-height: 1.625;
    margin-top: 24px;
    font-weight: 400;
}

.infoPart{
    transition: opacity .6s .1s,transform .6s ease;
}

.image{
    width: 60%;
    float: left;
    padding-right: 10px;
    max-width: 678px;
    max-height: 440px;

}

.image2{
    width: 70%;
    float: right;
    padding-left: 80px;
    max-width: 678px;
    max-height: 440px;
}

.text{
    padding-top: 30px;
    width: 40%;
    float: right;
    
}

.textStars{
    padding-top: 50px;
}

.text3{
    width: 40%;
    float: right;
    margin-top: 50px;
    
}

.text2{
    margin-top: 50px;
    width: 30%;
    float: left;
    padding-left:40px;
    
}

#subscribePart{
display:flex;
justify-content: space-between;
background-image: linear-gradient(135deg, #8547c6 10%, #b845c1 50%, #ab5d8a);
}

.textBox{
    display: flex;
    margin-top: 120px;
    flex-direction: column;
    align-items: center;
    text-align: center;
    width: 50%;
    padding-left: 20px;
    padding-right: 20px;
}

.textBox h2{
    color: white;
    padding-bottom: 20px;
}

.btn{
    font-size: 20px;
    padding: 16px 32px;
    border-radius: 30px;
    font-weight: 500 ;
    border: none;
    color: black;
    background-color: white;
    text-decoration: none;
}

.btn:hover{
    color: var(--color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}

.chillinPart{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    text-align: center;
    background-color:#f6f6f6;
    padding: var(--padding-sides);
}

@media (max-width: 780px){
    #info1{
        display: flex;
        flex-wrap: wrap;
    }
}