#feature_cards {
    padding: var(--padding-sides);
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 150px;
    gap: 20px;
    #featured_cards {
        display: flex;
        width: 100%;
        margin-bottom: 120px;
        gap: 20px;
        color: var(--color-secondary);
        .featured_card {
            padding: 24px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            border-radius: 8px;
            div{
                margin-bottom: 20px;
            }
            .feature {
                display: flex;
                align-items: center;
                p {
                    font-size: 20px;
                    line-height: 28px;
                    margin: 0px;
                }
                i {
                    margin-top: 4px;
                    margin-right: 10px;
                    font-size: 24px;
                }
            }
            h3 {
                font-style: italic;
                margin-bottom: 20px;
                font-size: 34px;
                font-weight: 900;
            }

            .card_subscribe_btn {
                width: 100%;
                padding: 16px 7px;
                border-radius: 40px;
                border: none;
                font-size: 20px;
                background-color: var(--color-secondary);
                color: var(--color-secondary-shade);
                line-height: 24px;
                font-weight: 500;
                margin-top: 20px;
                cursor: pointer;
            }
            .card_subscribe_btn:hover {
                box-shadow: 3px 6px 14px -6px rgba(0,0,0,0.75);
                -webkit-box-shadow: 3px 6px 14px -6px rgba(0,0,0,0.75);
                -moz-box-shadow: 3px 6px 14px -6px rgba(0,0,0,0.75);
                transition: all 0.2s 0.2s;
            }

        }
        #featured_card1 {
            width: 50%;
            background-image: linear-gradient(225deg, #007cc2 20%, #5865f2);
        }
        #featured_card2 {
            width: 50%;
            background-image: linear-gradient(135deg, #8547c6 25%, #b845c1 62%, #ab5d8a 95%);
        }
    }
    h1 {
        font-size: 48px;
        margin-bottom: 20px;
        line-height: 48px;
        font-weight: 700;
        color: var(--color-secondary-shade);
        text-align: center;
    }
    #cards_container {
        display: grid;
        grid-template: 1fr 1fr / 1fr 1fr;
        grid-column-gap: 20px;
        grid-row-gap: 20px;
        margin-bottom: 80px;
        .card{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            padding: 40px;
            gap: 32px;
            background-color: #f6f6f6;
            border-radius: 8px;
            h3 {
                font-weight: 700;
                font-size: 24px;
                text-align: center;
                color: var(--color-secondary-shade);
            }
            img {
                max-width: 100%;
            }
        }
        .card:hover {
            box-shadow: 3px 6px 19px -6px rgba(128,128,128,0.75);
            -webkit-box-shadow: 3px 6px 19px -6px rgba(128,128,128,0.75);
            -moz-box-shadow: 3px 6px 19px -6px rgba(128,128,128,0.75);
            transition: all 0.2s 0.2s;
        }
    }
    .all_features_btn {
        padding: 14px 32px;
        background-color: var( --color-primary);
        color: var(--color-secondary);
        border-radius: 28px;
        font-size: 20px;
        border: none;
        margin-bottom: 20px;
        text-decoration: none;
    }
    .all_features_btn:hover {
        box-shadow: 3px 6px 14px -6px rgba(0,0,0,0.75);
        -webkit-box-shadow: 3px 6px 14px -6px rgba(0,0,0,0.75);
        -moz-box-shadow: 3px 6px 14px -6px rgba(0,0,0,0.75);
        transition: all 0.2s;
        transform: translateY(-3px);
        background-color: var(--color-primary-tint);
    }
}