#hero{
    width: 100%;
    position: relative;
    height: 30rem;
    display: flex;
    align-items: flex-end;
    padding: var(--padding-sides);
    margin-bottom: 2rem;
}
#heroText{
    color: white;
    width: 29rem;
}
#heroText h1{
   line-height: 4rem;
   font-size: 4rem;
   width: 30rem;
}
#heroText p{
   font-size: 1.1rem;
   width: 70%;
}
#video{
    position: absolute;
    z-index: -1;
    height: 180%;
    width: 100%;
    object-fit: cover;
    top: 0;
    left: 0;
}
