@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&family=Satisfy&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bowlby+One+SC&display=swap');
@import url('../header/navbar.css');
@import url('../index/index-body.css');
@import url('main.css');
@import url('../footer/footer.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.3.0/css/font-awesome.min.css');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--font-display);
   font-weight: 300;
}

:root{
   --padding1: 0.5rem;
   --padding2: 1rem;
   --padding3: 1.5rem;
   --padding4: 2rem;
   --padding-sides: 0 20rem;

   --margin1: 0.5rem;
   --margin2: 1rem;
   --margin3: 1.5rem;
   --margin4: 2rem;

   --color-primary: #5865f2;
   --color-primary-tint: #7983f5;
   --color-primary-shade: #2331be;

   --color-hero: #404EED;

   --color-secondary: #f6f6f6;
   --color-secondary-tint: #fff;
   --color-secondary-shade: #23272a;

   --size-mobile: 600px;
   --size-tablet: 1600px;

   --font-display: 'Noto Sans', sans-serif;
}

.section-style{
   padding-top: 4rem !important;
   padding-bottom: 4rem !important;
   padding: var(--padding-sides);
}

.text-highlight-style{
   font-family: 'Bowlby One SC', cursive;
}

.button-style{
   display: flex;
   justify-content: center;
   align-items: center;
   background-color: var(--color-primary);
   padding: 0.6rem;
   border-radius: 20px;
   cursor: pointer;
   z-index: 550;
   user-select: none;
   text-decoration: none;
}
.button-style:hover{
   transition-duration: 0.7s;
   color: var(--color-primary);
   box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

/* Mobile */
@media (max-width: 600px){
   :root{
      --padding-sides: 0 2rem;
   }
}
/* Tablet */
@media (max-width: 1600px){
   :root{
      --padding-sides: 0 3rem;
   }
}
/* Desktop */