@import url("../main/common.css");

footer{
  color: white;
  background-color: var(--color-secondary-shade);
  padding: var(--padding-sides);
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  display: flex;
  gap: 2rem;
  display: grid;
  grid-template: 1fr max-content / 1fr;
}

.upperFooterWrap{
  border-bottom: 1px solid var(--color-primary);  
  display: flex;
  justify-content: space-between;
  gap: inherit;
}

.firstColumnWrap{
  width: 30%;
}

.wrapOfLists{
  width: 70%;
  display: flex;
  justify-content: space-between;
  gap: inherit;
}

.slogan{
  font-size: 32px;
  width: 200px;
  padding: 0;
  margin: 0;
  line-height: 34px;
  letter-spacing: 2px;
  color: var(--color-primary);
  margin-bottom: 20px;
}

.languages{
  background-color: var(--color-secondary-shade);
  color: white;
  padding:  0 5px;
  margin-bottom: 20px;
  border: none;
  cursor: pointer;
}

.languages > option{
   background-color: var(--color-secondary-shade);
   color: white;
}

.socialWrap{
  display: flex;
  justify-content: space-between;
  width: 150px;
}

.socialWrap img{
  height: 24px;
  width: auto;
}

.columnWrap{
  width: 25%;
}

.footerGroupName{
  color: var(--color-primary);
  margin-bottom: 10px;
}

.columnWrap a{
  text-decoration: none;
  color: white;
}
.columnWrap a:hover{
  text-decoration: underline;  
}

.columnWrap li{
  list-style-type: none;
  margin-bottom: 10px;
}

.lowerFooterWrap{
  display: flex;
  justify-content: space-between;
  gap: inherit;
}

.footerLogo{
  width: 120px;
}

.signUp{
  background-color: var(--color-primary);
  color: white;
  padding: 10px 15px;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  font-size: 12px;
}
.signUp:hover{
  background-color: var( --color-primary-tint);
}

@media (max-width: 780px) {
  .upperFooterWrap{
    display: flex;
    flex-direction: column;
  }
  .firstColumnWrap{
    width: 100%;
   }
   .slogan{
    width: 100%;
   }
   .wrapOfLists{
    display: grid;
    grid-template: 1fr 1fr / 1fr 1fr;
   }
   .wrapOfLists .columnWrap:nth-child(2n){
    justify-self: end;
   }
   .columnWrap{
     width: 50%;
   }
}