@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
   padding: 0;
   margin: 0;
   box-sizing: border-box;
   font-family: var(--font-display);
}

:root{
   --padding1: 0.5rem;
   --padding2: 1rem;
   --padding3: 1.5rem;
   --padding4: 2rem;

   --margin1: 0.5rem;
   --margin2: 1rem;
   --margin3: 1.5rem;
   --margin4: 2rem;

   --color-primary: #5865f2;
   --color-primary-tint: #7983f5;
   --color-primary-shade: #2331be;

   --color-secondary: #f6f6f6;
   --color-secondary-tint: #fff;
   --color-secondary-shade: #23272a;

   --font-display: 'Noto Sans', sans-serif;
}

.section-style{
   margin: 2rem 0;
   padding: 1rem 3rem;
   column-gap: 4rem;
   row-gap: 2rem;
}

.text-highlight-style{
   font-weight: 900;
}