@import url(../../main/common.css);
section#hero{
    height: 39rem;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
#hero .clouds{
    position: absolute;
    bottom: 0;
    left: -26rem;
    width: 140%;
    z-index: -9;
}
#heroText{
    margin-top: 4rem;
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
#heroText > h1{
    width: 50rem;
    font-size: 60px;
    line-height: 4rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
    margin-bottom: 0;
}
#heroText > p{
    margin-top: 0;
    width: 40rem;
    text-align: center;
    color: white;
    font-size: larger;
    font-family:'Noto Sans', sans-serif;
    letter-spacing: 2px;
    line-height: 25px;
}
#skyImage{
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
    z-index: -10;
    background-color:var(--color-hero);
}
#doodlesImage{
    position: absolute;
    z-index: -8;
    bottom: 0;
    right: -4rem;
}
#chickensImage{
    position: absolute;
    z-index: -8;
    bottom: 0;
    left: -4rem;
}
#buttons{
    display: flex;
    justify-content: center;
    gap: 1rem;
}
#buttons > a{
    padding: 0.9rem 4rem;
    background-color: var(--color-secondary-shade);
    font-size: large;
    border-radius: 25px;
    border: 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    text-decoration: none;
    color: white;
    font-weight: 400;
}
#buttons a:nth-child(1){
    background-color: white;
    color: black;
}
#buttons >a:hover{
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}
#buttons a:nth-child(1):hover{
    color: var(--color-primary);
}

@media (max-width: 1700px){
    #doodlesImage{
        right: -11rem;
    }
    #chickensImage{
        left: -14rem;
    }
}