@import url(../../main/common.css);
section#hero{
    height: 600px;
    width: 100%;
    position: relative;
}
#heroText{
    position: relative;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-top: 140px;
}
#heroText > h1{
    width: 35%;
    font-size: 60px;
    line-height: 4rem;
    color: white;
    text-transform: uppercase;
    text-align: center;
}
#heroText > p{
    width: 35%;
    text-align: center;
    color: white;
    font-size: larger;
    font-family:'Noto Sans', sans-serif;
    letter-spacing: 2px;
    line-height: 25px;
}
#skyImage{
    height: 630px;
    width: 100%;
    position: absolute;
    z-index: -9;
    background-color:var(--color-hero);
    bottom: 0;
    
}
#skyImage > img{
    max-width: unset;
    max-height: unset;
    background-size: cover;
    
}
#doodlesImage{
    position: absolute;
    z-index: -8;
    bottom: 0;
    right: 0;
}
#chickensImage{
    position: absolute;
    z-index: -8;
    bottom: 0;
}
#buttons > button{
    width: 260px;
    height: 55px;
    background-color: var(--color-secondary-shade);
    font-size: large;
    font-weight: bolder;
    border-radius: 25px;
    border: 0;
    margin-top: 40px;
    margin-left: 20px;
}
#buttons a{
    text-decoration: none;
    font-weight: bold;
    color: white;
}
#buttons >button:hover{
    color: var(--color-primary);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 13px 27px -5px, rgba(0, 0, 0, 0.3) 0px 8px 16px -8px;
}